{{ $featuredArticles := 5 }}
{{ $showMoreLinkDest := "/posts/" }}
{{ if .Site.Params.homepage.showFeatured | default false }}
  {{ if index .Site.Params.homepage "showFeaturedItems" }}
    {{ $featuredArticles = .Site.Params.homepage.showFeaturedItems }}
  {{ end }}
  <h2 class="mt-8 text-2xl font-extrabold mb-10">{{ i18n "shortcode.featured_articles" | emojify }}</h2>

  {{ if and .Site.Params.homepage.cardView (not .Site.Params.homepage.cardViewScreenWidth) | default false }}
    {{ partial "featured-articles/cardview.html" . }}
  {{ else if and .Site.Params.homepage.cardView .Site.Params.homepage.cardViewScreenWidth | default false }}
    {{ partial "featured-articles/cardview-fullwidth.html" . }}
  {{ else }}
    {{ partial "featured-articles/list.html" . }}
  {{ end }}

  {{ if .Site.Params.homepage.showMoreLink | default false }}
    {{ if index .Site.Params.homepage "showFeaturedItems" }}
      {{ $showMoreLinkDest = .Site.Params.homepage.showMoreLinkDest }}
    {{ end }}
    <div class="mt-10 flex justify-center">
      <a href="{{ $showMoreLinkDest | relLangURL }}">
        <button
          class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold py-2 px-4 border border-primary-500 hover:border-transparent rounded">
          {{ i18n "featured.show_more" | markdownify }}
        </button>
      </a>
    </div>
  {{ end }}
{{ end }}
