<article class="max-w-full prose dark:prose-invert">
  {{ with "Victor Diab | Graphics Programmer" }}
    <header>
      <h1>{{ . | emojify }}</h1>
    </header>
  {{ end }}

  {{ with "Hi! I'm a Champlain College graduate with dual degrees in game programming & applied mathematics with a specialization in graphics programming. I like anything rendering from graphics APIs, to high level shaders, to raytracing architecure." }}
    <header>
      <h3>{{ . | emojify }}</h3>
    </header>
  {{ end }}


  {{ with "Wanna talk graphics, math, or game development? Contact Me: " }}
    <header>
      <h3>{{ . | emojify }}</h3>
    </header>
  {{ end }}

  <script>
    function copyLink(e) {
        e.preventDefault(); // stop navigation
        navigator.clipboard.writeText("victorpdiab@gmail.com");
    }
  </script>
  <a href="mailto:victorpdiab@gmail.com">
  <!-- <a href="#" onclick="copyLink(event)"> -->
    {{ partial "social.html" "envelope" }}
  </a>

  <a href="https://www.linkedin.com/in/victordiab" target="_blank">
    {{ partial "social.html" "linkedin" }}
  </a>

  <a href="https://github.com/snspkfre" target="_blank">
    {{ partial "social.html" "github" }}
  </a>
  
  <section>
    {{ with "Resume: " }}
      <header>
        <h3>{{ . | emojify }}</h3>
      </header>
    {{ end }}
      <a href="https://docs.google.com/document/d/11ClqRp7BhIRpMTv6v-eDWSP0D-BynTs8KOnyjdZDjYQ/edit?usp=sharing" target="_blank">
        {{ partial "social.html" "link" }}
      </a>
      <a href={{ "doc/VictorDiabResume.pdf" | absURL }} download="Victor Diab Resume.pdf">
        {{ partial "social.html" "download" }}
      </a>
  </section>

  <br>

  {{ with "Featured Projects: " }}
    <header>
      <h3>{{ . | emojify }}</h3>
    </header>
  {{ end }}

  <section class="w-full">{{ .Content }}</section>
  
<section>
  {{ partial "featured-articles/main.html" . }}
</section>

</article>


