<article class="max-w-full prose dark:prose-invert">
  {{ with "Victor Diab | Graphics Programmer" }}
    <header>
      <h1>{{ . | emojify }}</h1>
    </header>
  {{ end }}

  {{ with "I'm a game programming & applied mathematics student with a specialization in graphics programming. I like anything rendering from graphics API's to high level shaders to raytracing architecure." }}
    <header>
      <h3>{{ . | emojify }}</h3>
    </header>
  {{ end }}


  {{ with "Wanna talk graphics, math, etc?" }}
    <header>
      <h3>{{ . | emojify }}</h3>
    </header>
  {{ end }}

  <script>
    function copyLink(e) {
        e.preventDefault(); // stop navigation
        navigator.clipboard.writeText("victorpdiab@gmail.com");
    }
  </script>

  <a href="#" onclick="copyLink(event)">
    {{ partial "social.html" "envelope" }}
  </a>

  <a href="https://www.linkedin.com/in/victordiab" target="_blank">
    {{ partial "social.html" "linkedin" }}
  </a>

  <a href="https://github.com/snspkfre" target="_blank">
    {{ partial "social.html" "github" }}
  </a>
  
  <br>

  {{ with "Featured Projects: " }}
    <header>
      <h3>{{ . | emojify }}</h3>
    </header>
  {{ end }}

  <section class="w-full">{{ .Content }}</section>
</article>
<section>
  {{ partial "featured-articles/main.html" . }}
</section>
